body{
    background: #1c1a1a !important;
}

.left{
    background: #282828;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 6vw;
    position: fixed;
    -webkit-box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.24), 0 0 0.75rem 0 rgba(0,0,0,0.48);
    box-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.24), 0 0 0.75rem 0 rgba(0,0,0,0.48);
}

.home_logged .center_c{
    top: 30%;
}

.left li{
    width: 100%;
    text-align: center;
    background: transparent;
    font-size: 1.6vw;
    padding: 2vw 0vw 2vw;
    list-style: none;
    cursor: pointer;
    position: relative;
    top: 10vw;
    color: #7f7c7c;
}

.left li:hover{
    background: #373737;
}

.left .ativo{
    background: #fff;
    color: #373737;
}

.left .ativo:hover{
    background: #fff;
    color: #373737;
}

.center_b{
    position: fixed;
    width: 100%;
    left: 6vw;
    background: #2f2f2f;
    height: 100%;
}

.center_b h1{
    font-size: 2vw;
    left: 0vw;
    position: relative;
    padding: 1vw;
}

.center_b .left_c{
    width: 20vw;
    height: 80%;
    position: fixed;
    border-right: 0.2vw solid #373737;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 6.3vw;
}

.center_b .left_c li{
    width: 100%;
    list-style: none;
    font-size: 1.5vw;
    margin-bottom: 0vw;
    padding: 1vw;
    position: relative;
    left: 0vw;
    cursor: pointer;
}

.center_b .left_c .ativo{
    background: #fff;
    color: #373737;
}

.center_b .left_c .ativo:hover{
    background: #fff;
    color: #373737;
}

.center_b .left_c li:hover{
    background: #373737;
}

.left_c{
    position: fixed;
    left: 13vw;
}

.center_c h2{
    color: #ccc;
    font-size: 1.5vw;
    z-index: 500;
    position: relative;
}

.center_c button{
    position: relative;
    width: 30vw;
    background: #373737;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5vw;
    padding: 0.5vw;
    margin-bottom: 0.5vw;
    cursor: pointer;
    border-radius: 0.2rem;
    display: block;
    left: 50%;
    transform: translate(-50%, 10px);
}

.center_c .poster{
    float: left;
    width: 10vw;
    height: 15vw;
    margin-left: -2vw;
}

.center_b .viewFilme{
    height: 13vw;
    top: 0%;
    background: rgba(0,0,0,.40);
}

.center_b .viewFilme h1{
    color: #fff !important;
    font-size: 1.6vw !important;
    position: absolute !important;
    top: 4vw !important;
    left: 12vw;
}

.center_b .viewFilme p{
    color: #fff !important;
    font-size: 0.8vw !important;
    position: relative !important;
    top: 3vw !important;
    left: 1vw;
    height: 10vw;
    overflow: auto;
    width: auto;
    word-break: break-all;
    text-align: center;
}

.center_c .ativo{
    background: #fff;
    color: #373737;
}

.center_c{
    position: fixed;
    left: calc(50% + 11vw);
    top: 12%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 86%;
    width: 75%;
    transform: translate(-50%, 10px);
}

.center_c .icon{
    font-size: 6vw;
    position: relative;
    color: #777474;
}

.center_c button .icon{
    float: right;
    font-size: 2vw;
    position: absolute;
    margin-top: -2vw;
    right: 1vw;
    color: #2196F3;
}

.center_c .iconAtivoSom{
    background: #fff;
    color: #373737;
}

.center_b form{
    background: transparent;
    left: 50%;
    width: 30vw;
    position: relative;
    transform: translate(-50%);
}

.center_b form input{
    color: #fff;
    width: 100% !important;
}


.lightMode .center_b{
    background: #eae9e9 !important;
    color: #151515;
}

.lightMode .center_c h2{
    color: #151515;
}

.lightMode .center_b .left_c .ativo{
    background: #000 !important;
    color: #fff !important;
}

.lightMode .left li{
    color: #151515;
}

.lightMode .left li:hover{
    background: rgba(0,0,0,.80);
    color: #fff;
}

.lightMode .center_c button{
    color: #151515;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.40);
}

.lightMode .center_c .iconAtivoSom{
    background: #000;
    color: #fff;
}

.lightMode .center_b .left_c li:hover{
    background: rgba(0,0,0,.80) !important;
    color: #fff !important;
}

.lightMode .center_b .left_c .ativo:hover{
    background: #000 !important;
    color: #fff !important;
}

.lightMode .left_c{
    border-right: 0.2vw solid #00000038 !important;
}

.lightMode .left{
    background: #fff;
}

.lightMode .left li{
    color: #151515;
}

.lightMode .left .ativo{
    background: #000;
    color: #eee;
}

.lightMode .left li:hover{
    background: rgba(0,0,0,.90);
    color: #fff;
}

@media screen and (max-width: 500px){
    .mama li{
    left: 30% !important;
    transform: translate(-50%, 0px);
}
    .left{
        width: 100%;
        bottom: 0vw;
        height: auto;
        overflow: hidden;
        padding: 0vw;
        left: 0vw;
        z-index: 1000;
    }

    .left li{
        width: 2vw;
        font-size: 6vw;
        padding: 5vw 10vw 5vw 8vw;
        float: left;
        top: 2vw;
        left: 2vw;
        text-align: center;
        left: 0vw;
    }

    .center_b{
    position: fixed;
    width: 100%;
    left: 0vw;
    background: #2f2f2f;
    height: calc(100% - 20vw);
    overflow-y: scroll;
    overflow-x: hidden;
    }

    .center_b h1{
        font-size: 9vw !important;
        left: 0vw;
        position: relative;
        padding: 4vw;
    }

    .center_b .left_c{
        width: 100%;
        height: 10vw;
        position: fixed;
        border-right: 0.2vw solid #373737;
        overflow-x: auto;
        overflow-y: hidden;
        left: 0vw;
        white-space: nowrap;
        background: #00000030;
        padding: 0vw;
        top: 29vw;
        z-index: 1000;
    }

    .center_b .left_c li{
        width: auto;
        list-style: none;
        font-size: 6vw;
        margin-bottom: 0vw;
        padding: 2vw;
        position: relative;
        left: 0vw;
        float: left;
        white-space: nowrap;
        cursor: pointer;
    }

    .center_b .left_c li:hover{
        background: #373737;
    }

    .left_c{
        position: fixed;
        left: 13vw;
        overflow: auto;
    }

    .center_c h2{
        color: #ccc;
        font-size: 1.5vw;
    }

    .center_c button{
        width: 100%;
        background: #373737;
        border: none;
        outline: none;
        color: #fff;
        font-size: 8vw;
        padding: 2vw;
        margin-bottom: 0.5vw;
        cursor: pointer;
        border-radius: 0.2rem;
    }

    .center_c .ativo{
        background: #fff;
        color: #373737;
    }

    .center_c{
        position: fixed;
        left: calc(50% + 0vw);
        top: 32%;
        text-align: center;
        height: calc(100% - 72vw);
        width: 95%;
    }


    .center_c .icon{
        font-size: 20vw;
        position: relative;
        color: #777474;
    }

    .center_c button .icon{
    font-size: 7vw;
    position: relative;
    margin-top: 1vw;
    }

    #app{
        width: calc(100% - 0vw);
    }

    .center_c form{
        width: 70vw;
    }

    .center_c .poster{
    float: left;
    width: 100%;
    height: 90vw;
    margin-left: 0vw;
}

.center_b .viewFilme{
    top: -5%;
    height: 50vw;
}

.center_b .viewFilme h1{
    background: #000;
    color: #fff !important;
    font-size: 8vw !important;
    position: absolute !important;
    top: 3vw !important;
    left: 3vw;
    z-index: 100;
}

.center_b .viewFilme p{
    color: #fff !important;
    font-size: 4vw !important;
    position: absolute !important;
    top: 8vw !important;
    left: 3vw;
    background: rgba(0,0,0,.80);
}

.left .ativo{
    border-top: 2vw solid #2196f3;
}
}